# Ignore everything
*

# But not these files...
!.gitignore
!.Rbuildignore
!DESCRIPTION
!NAMESPACE
!man
!.git
!functions.R
!*.Rd
!.hdf5
# etc...

# ...even if they are in subdirectories
!*/

.Rproj.user

